<div id="footer">
  <% link_to "http://www.comune.piacenza.it/", :class => "comunepc", :target => "_blank"  do %>
    <%= image_tag "footer/footer-comune-pc.png", :class => "img-responsive" %>
  <% end %>
  <div class="leto">
    <%= image_tag "footer/footer-leto.png", :class => "img-responsive" %>
  </div>
  <% link_to "https://www.facebook.com/crowseventi", :class => "crows", :target => "_blank"  do %>
    <%= image_tag "footer/footer-crows.png", :class => "img-responsive" %>
  <% end %>
  <% link_to "http://www.lafondazione.com/", :class => "fondazione", :target => "_blank"  do %>
    <%= image_tag "footer/footer-fondazione.png", :class => "img-responsive" %>
  <% end %>
</div>
