<div class="col-xs-12 col-sm-4 col-md-4">
  <div class="wrapper">
    <% link_to link, :class => "link" do %>
      <%= image_tag image, :class => "img-responsive image" %>
      <div class="overlay">
        <div class="title"><%= title %></div>
      </div>
    <% end %>
  </div>
</div>
