<div id="news" class="row">
  <div class="news-container col-xs-12 col-sm-12 col-md-12">
    <div class="heading">News</div>
    <% get_md_files("data/news").reverse_each do |name| %>
    <% data = get_data("news", name) %>
      <% data["id"] = name %>
      <%= partial "partials/news", :locals => { :data => data, :summary => true } %>
    <% end %>
  </div>
</div>
