---
title: Rassegna Stampa
---

<div id="press" class="row">
  <div class="press-container">
    <% data.rassegna.each do |r| %>
    <div class="heading"><%= r.title %></div>
    <div class="articles col-xs-12 col-sm-12 col-md-12">
      <% articles = r.reverse ? r.press.reverse : r.press %>
      <% articles.each do |a| %>
        <div class="article">
          <div class="image">
            <% link_to a.link, :target => "_blank", :rel => "noopener" do %>
              <%= image_tag a.image, :class => "img-responsive" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
